<footer>
    <h2>Bassoon-O-Pedia</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/bassoons">Find A Bassoon</a></li>
            <li><a href="#">Add A Bassoon</a></li>
        </ul>
    </nav>
</footer>
