<header>
    <h1>Bassoon-O-Pedia</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/bassoons">Find A Bassoon</a></li>
            <li><a href="/bassoons/new">Add A Bassoon</a></li>
            <li><a href="/bassoonmodelvids">Media</a></li>
        </ul>
    </nav>
</header>
