<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Oops!! - Bassoon-O-Pedia'}) %>
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
    <div class="glassy">
        <img src="/assets/404page.jpg">
        <a href="/">Return to our Home page!</a>
    </div>
</body>

</html>
