<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: `About Bassoon-O-Pedia`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>Connecting bassoonist throughout the world. One horn at a time.</i></h4>
        </section>

        <section class="content">
            <h2>Our Goal</h2>
            <p>Bassoon-o-pedia, a comprehensive online resource for bassoonists, that offers valuable information on all types of bassoons and not exclusively for Heckel bassoons. While Heckel bassoons are considered the gold standard in the bassoon world, there are many other brands and models that are widely used and respected by professional bassoonists. Bassoon-o-pedia provides a wealth of information on these other instruments, including their history, design, and unique features. This allows bassoonists to make informed decisions when choosing an instrument and to better understand the nuances of different bassoon types. Additionally, Bassoon-o-pedia provides resources for maintenance and repair of all types of bassoons, helping players to keep their instruments in top condition and ensuring the best possible sound and performance. Overall, Bassoon-o-pedia is an invaluable tool for any bassoonist looking to deepen their understanding and appreciation of the instrument.</p>
            <p>Players who have had the opportunity to choose a bassoon for themselves know that there are many factors to consider before making a final decision. Among the many bassoon brands and models available in the market, Heckel bassoons have earned a reputation for their excellent quality and craftsmanship.</p>
            <p>Despite the many benefits of Heckel bassoons, they are also among the most expensive on the market. For many players, the investment is worth it, as they consider the instrument to be a long-term investment in their musical career. However, for those who cannot afford a new Heckel bassoon, there are also many used models available that still offer excellent quality and sound.</p>
           
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
