<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'Bassoon-O-Pedia'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
       <h1>Bassoon-O-Pedia</h1>
       <a href="/bassoons"><img src="/public/assets/globe.jpg" alt="globe"></a>
       <h3>Sharing history together!</h3>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
