main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

/* Style the content section */
.content {
    margin-top: 50px;
    line-height: 1.5;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}